html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.slide-in-text {
  position: relative;
  left: -100%;
  animation: slide-in 1s forwards;
}

.slide-in-text-reverse {
  position: relative;
  left: 100%;
  animation: slide-in-reverse 1s forwards;
}

.slide-in-text-baixo {
  animation-name: baixo-para-cima;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes slide-in {
  from {
    left: -30%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in-reverse {
  from {
    left: 30%;
  }
  to {
    left: 0;
  }
}

@keyframes baixo-para-cima {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.ge_container{
  overflow: hidden;
}

.ge_container_01{
  position: relative;
  overflow: hidden;
  height: 660px;
}

.minha-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.background-image {
  position: relative;
  background-image: url('/greenenergy_pellets.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: zoomInOut 20s ease-in-out infinite;
}

.text {
  position: absolute;
  top: 200px;
 
  
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* define o tamanho original da imagem */
  }
  50% {
    transform: scale(1.5); /* define o tamanho máximo da imagem */
  }
  100% {
    transform: scale(1); /* define o tamanho original da imagem novamente */
  }
}






